<ion-header>
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="pet" color="dark">
      <ion-segment-button value="puppies" color="dark">
        Cardápio
      </ion-segment-button>
      <ion-segment-button value="kittens">
        Personalizar
      </ion-segment-button>
      <ion-segment-button value="ducklings">
        Meus Drinks
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="card-background-page">


  <div [ngSwitch]="pet">
    <ion-list *ngSwitchCase="'puppies'">
      <ion-list>
        <div>
          <ion-card class="animated bounceInLeft" *ngFor="let item of cardapio let i = index" (click)="detailDrink({drink: item, image: images[i]})">
            <img class="img-circle" src="{{ images[i] }}">
            <div class="card-title">{{ item.nome }}</div>
            <div class="card-subtitle">{{ item.volume }}ml R{{ item.preco | currency : 'usd' : true }}</div>
          </ion-card>
        </div>
      </ion-list>
    </ion-list>


    <ion-list *ngSwitchCase="'kittens'">
      <div class="animated bounceInDown">
        <ion-item-divider style="text-align: center;" color="light">
          Escolha suas bebidas
        </ion-item-divider>
        <ion-item>
          <ion-label>Bebidas:</ion-label>
          <ion-select [(ngModel)]="bebidasCustom" multiple="true">
            <ion-option *ngFor="let item of bebidas">{{item.nome}}</ion-option>
          </ion-select>
        </ion-item>

        <div *ngFor="let bebida of bebidasCustom">
          <ion-item-divider *ngIf="bebidasCustom" style="text-align: center;" color="light">{{ bebida }} {{ this.levelvalue[bebida]}}%</ion-item-divider>
          <ion-item ng-model="levelvalue" *ngIf="bebidasCustom">
            <ion-range [(ngModel)]="levelvalue[bebida]" (ionChange)="validateCustomDrink($event)" min="0" max="100" step="10" pin="true">
              <ion-icon range-left small name="wine"></ion-icon>
              <ion-icon range-right big large name="wine"></ion-icon>
            </ion-range>
          </ion-item>
        </div>



        <ion-item>
          <ion-label>Gelo?</ion-label>
          <ion-toggle checked="false" [(ngModel)]="isToggled"></ion-toggle>
        </ion-item>

        <ion-item-divider *ngIf="bebidasCustomSize" style="text-align: center; color:darkred; font-weight: bold;">
          Total: R{{ this.totalPrice | currency : 'USD' : true}} 300 ml! 
        </ion-item-divider>
        <button class="animated bounceInUp" ion-button block color="dark" (click)="checkoutCustomDrink()">Finalizar Pedido</button>
      </div>

    </ion-list>


    <ion-list *ngSwitchCase="'ducklings'">
      <ion-item class="animated bounceInRight" *ngFor="let qr of _myQrCodes" (click)="callQueryCodeWithString(qr.qr_code.qr_code)">
        <h2>{{ qr.nome }}</h2>
        <p *ngFor="let qri of qr.pedido">{{ (qri.volume * 100 )/400}}% {{ qri.bebida_name }}</p>
      </ion-item>
    </ion-list>
  </div>

</ion-content>